<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/list.css" type="text/css">
  <title>Menu</title>
  <script>
    function enableDelete() {
      const checked = document.querySelectorAll("input[type=checkbox]:checked");
      const del = document.getElementById("del");

      if (checked.length > 0) {
        del.removeAttribute("disabled");
      } else {
        del.setAttribute("disabled", "disabled");
      }
    }

    function enableAdd() {
      const meal = document.getElementById("meal");
      const add = document.getElementById("add");
      const name = meal.value;

      console.log(name.trim());

      if (name.trim() != "") {
        add.removeAttribute("disabled");
      } else {
        add.setAttribute("disabled", "disabled");
      }
    }
  </script>
</head>

<body>
  <div class="header">
    <h1>Menu</h1>
    <h2><a href="/plan">Plan</a></h2>
  </div>
  <div class="filters">
    <img title="Meal name" src="/static/book.svg" height="25" width="25">
    <img title="Number of times cooked" src="/static/count.svg" height="25" width="25">
    <img title="Last cooked" src="/static/date.svg" height="25" width="25">
  </div>
  <div class="add-meal">
    <input id="meal" form="add-form" name="meal" type="text" 
      pattern="[a-zA-Z0-9 ]+" placeholder="New meal"
      title="Letters, numbers and spaces only" onchange="enableAdd()" />
    <input id="add" form="add-form" name="add" type="submit" value="Add" disabled />
  </div>
  <div class="del-meals">
    <input id="del" form="del-form" type="submit" value="Delete selected" disabled />
  </div>
  <div class="card">
    <div class="name">
      <h2>Meal one</h2>
    </div>
    <div class="cooked">49</div>
    <div class="cooked">2023-12-31</div>
  </div>
  <div class="meal">
    <input title="delete" form="del-form" type="checkbox" name="testCheck" onchange="enableDelete()" />
  </div>
  <table>
    <tr>
      <td class="del">
      </td>
      <td class="name">
        Ham egg and chips
      </td>
      <td class="cooked">
        49 times
      </td>
      <td class="cooked">
        2023-12-31
      </td>
    </tr>
    <% for (let i=0; i < rows.length; i++) { %>
      <tr>
        <td class="del">
          <input title="delete" form="del-form" type="checkbox" name="<%= rows[i].id %>" onchange="enableDelete()" />
        </td>
        <td class="name">
          <%= rows[i].name %>
        </td>
        <td class="cooked">
          <%= rows[i].times_cooked %>
        </td>
        <td class="cooked">
          <%= rows[i].last_cooked %>
        </td>
      </tr>
      <% } %>
  </table>
  <form id="add-form" action="/menu" method="post" enctype="application/x-www-form-urlencoded">
  </form>
  <form id="del-form" action="/menu/delete" method="post" enctype="application/x-www-form-urlencoded"
    onsubmit="return confirm('Are you sure you want to delete these meals?')">
  </form>
</body>

</html>