<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/list.css" type="text/css">
  <title>Menu</title>
  <script>
    function enableDelete() {
      const checked = document.querySelectorAll("input[type=checkbox]:checked");
      const del = document.getElementById("del");

      if (checked.length > 0) {
        del.removeAttribute("disabled");
      } else {
        del.setAttribute("disabled", "disabled");
      }
    }

    function enableAdd() {
      const meal = document.getElementById("meal");
      const add = document.getElementById("add");
      const name = meal.value;

      console.log(name.trim());

      if (name.trim() != "") {
        add.removeAttribute("disabled");
      } else {
        add.setAttribute("disabled", "disabled");
      }
    }
  </script>
</head>

<body>
  <header>
    <h1>Menu</h1>
    <h2><a href="/plan">Plan</a></h2>
  </header>
  <input id="meal" form="add-form" name="meal" type="text" pattern="[a-zA-Z0-9 ]+" placeholder="New meal"
    title="Letters, numbers and spaces only" onchange="enableAdd()" />
  <input id="add" form="add-form" name="add" type="submit" value="Add" disabled />
  <table>
    <tr>
      <th><img title="bin" src="/static/bin.svg" height="25" width="25" /></th>
      <th class="name"><img title="book" src="/static/book.svg" height="25" width="25"></th>
      <th class="count"><img title="count" src="/static/count.svg" height="25" width="25"></th>
      <th class="date"><img title="date" src="/static/date.svg" height="25" width="25"></th>
    </tr>
    <% for (let i = 0; i < rows.length; i++) { %>
      <tr>
        <td class="del">
          <input title="delete" form="del-form" type="checkbox" name="<%= rows[i].id %>" onchange="enableDelete()" />
        </td>
        <td class="name">
          <%= rows[i].name %>
        </td>
        <td class="n">
          <%= rows[i].times_cooked %>
        </td>
        <td>
          <%= rows[i].last_cooked %>
        </td>
        <td></td>
      </tr>
    <% } %>
  </table>
  <input id="del" form="del-form" type="submit" value="Delete" disabled />
  <form id="add-form" action="/menu" method="post" enctype="application/x-www-form-urlencoded">
  </form>
  <form id="del-form" action="/menu/delete" method="post" enctype="application/x-www-form-urlencoded"
    onsubmit="return confirm('Are you sure you want to delete these meals?')">
  </form>
</body>

</html>