<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/list.css" type="text/css">
  <title>Menu</title>
  <script>
    
    function enableDelete() {
      const checked = document.querySelectorAll("input[type=checkbox]:checked");
      const del = document.getElementById("del");
      
      if (checked.length > 0) {
        del.removeAttribute("disabled");
      } else {
        del.setAttribute("disabled", "disabled");
      }
    }

    function enableAdd() {
      const meal = document.getElementById("meal");
      const add = document.getElementById("add");
      const name = meal.value;
      
      console.log(name.trim());
      
      if (name.trim() != "") {
        add.removeAttribute("disabled");
      } else {
        add.setAttribute("disabled", "disabled");
      }
    }
    
    const sort = [null, "desc", "asc", "asc"];

    function sortTable(column) {
      // thanks to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table!
      const table = document.getElementById("menu-table");

      if (sort[column] == null || sort[column] == "desc") {
        sort[column] = "asc";
      } else {
        sort[column] = "desc";
      }
      
      // loop until no switching is done:
      let switching = true;

      while (switching) {
        const rows = table.rows;
        let i;
        let shouldSwitch = false;
        switching = false;
        
        for (i = 1; i < (rows.length - 1); i++) { // 0 = headers!
          const x = rows[i].getElementsByTagName("td")[column];
          const y = rows[i + 1].getElementsByTagName("td")[column];
          if ((sort[column] == "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) ||
            (sort[column] == "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())) {
            shouldSwitch = true;
            break;
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }
    </script>
</head>

<body>
  <header>
    <h1>Menu</h1>
    <h2><a href="/plan">Plan</a></h2>
  </header>
  <div class="buttons">
    <input id="meal" form="add-form" name="meal" type="text" pattern="[a-zA-Z0-9 ]+" placeholder="New meal"
      title="Letters, numbers and spaces only" onchange="enableAdd()" />
    <input id="add" form="add-form" name="add" type="submit" value="Add" disabled />
  </div>
  <table id="menu-table">
    <tr>
      <th><img title="bin" src="/static/bin.svg" height="25" width="25" /></th>
      <th class="name"><img title="book" src="/static/book.svg" height="25" width="25"
        onclick="sortTable(1)"></th>
      <th class="count"><img title="count" src="/static/count.svg" height="25" width="25"
        onclick="sortTable(2)"></th>
      <th class="date"><img title="date" src="/static/date.svg" height="25" width="25"
        onclick="sortTable(3)"></th>
    </tr>
    <% for (let i = 0; i < rows.length; i++) { %>
      <tr>
        <td class="del">
          <input title="delete" form="del-form" type="checkbox" name="<%= rows[i].id %>" onchange="enableDelete()" />
        </td>
        <td class="name">
          <%= rows[i].name %>
        </td>
        <td class="n">
          <%= rows[i].times_cooked %>
        </td>
        <td>
          <%= rows[i].last_cooked %>
        </td>
      </tr>
    <% } %>
  </table>
  <div class="buttons">
    <input id="del" form="del-form" type="submit" value="Delete selected" disabled />
  </div>
    <form id="add-form" action="/menu" method="post" enctype="application/x-www-form-urlencoded">
    </form>
    <form id="del-form" action="/menu/delete" method="post" enctype="application/x-www-form-urlencoded"
      onsubmit="return confirm('Are you sure you want to delete these meals?')">
    </form>
</body>

</html>